@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Sunydale;
        font-weight: 500;
        src: url(./fonts/Sunydale.woff) format("woff");
    }
    #app {
        @apply font-Inter;
    }
    
}